header {
    color:beige   ;
    background-color: rgb(235, 118, 8);
    text-align: center;
    padding: 4px;
    font-size: 20px;
}
body{
    font-size: 20px;
    width: 800px;
    margin: 25px auto;
    background-color: rgb(236, 191, 42);
}
.chat {
    list-style-type:none
   
}
footer{
    text-align: center;
}
h3{
    color: beige;
    background-color: rgb(235, 118, 8);
}
img{
    float: left;
    margin: 0 10px
}

p{
    overflow: hidden;
}
main{
    overflow: hidden;
}